.home  {
    width: 100vw;
    height: 100vh;
    background-image: url("../public/img/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  .home-background  {
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
  }
  .col-sm-12 {
    height: 50vh;
    text-align: center;
    padding-top: 15%;
  }
  .home-title-container {
    font-size: 20px;
    color: white;
    opacity: 1;
  }
  .home-title {
    font-style: normal;
  }
  .hello .name {
    text-transform: uppercase;
  }
  .developer  {
    font-style: italic;
  }
  .home-title > h1  {
    font-size: 15vh;
    font-weight: bold;
  }
  .navbar   {
      position: absolute;
  }
  .menu-container  {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8) !important;
  }
  #navbarToggleExternalContent  {
    background: rgba(0, 0, 0, 0.8) !important;
  }
  .menu-text-container  {
    padding-top: 10%;
    text-align: center;
  }
  .vertical-menu a {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
  }
  .vertical-menu a:hover {
    color: #00FFFF;
  }
  .vertical-menu a.active {
    color: #00FFFF;
  }
